<h1>TASK MANAGER</h1>

<% @tasks.each do |task| %>
<h3><%= link_to "#{task.title}", task_path(task) %> - <%= task.completed ? 'Done' : 'To do' %></h3>
<% end %>

<%= link_to 'New Task', new_task_path  %>
